.card-main{
    background-color: #272436;
    height: 300px;
}

.container-description{
    height: 100px;
    font-size: medium;
    overflow: auto;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 10px;
    margin-top: 10px;
}

.container-description::-webkit-scrollbar{
    width: 2px;
}
.container-description::-webkit-scrollbar-thumb{
    background: crimson;
    border-radius: 15px;
}
.card-title{
    overflow-x: auto;
    overflow-y: hidden;
    height: 25px;
    width: 230px;
    white-space: nowrap;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 2px;
    font-size: larger;
}
.card-title::-webkit-scrollbar{
    background: #272436;
    height: 1px;
}
.card-title::-webkit-scrollbar-thumb{
    background: crimson;
    border-radius: 5px;
}
.card-tag{
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 10px;
    margin: 3px;
    width: 230px;
}

.card-tag::-webkit-scrollbar{
    background: #272436;
    height: 1px;
}
.card-tag::-webkit-scrollbar-thumb{
    background: crimson;
    border-radius: 5px;
}

