.container-card{
    overflow: auto;
    margin-left: 50px;
    margin-right: 50px;
    overflow-x: hidden;
}
.container-card::-webkit-scrollbar{
    width: 4px;
}
.container-card::-webkit-scrollbar-thumb{
    background: crimson;
    border-radius: 15px;
}
